
body {
    margin-top: 85px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #7A7A7A;
}

#googleMap {
    width: 100%;
    height: 475px;
}

#program .tab-content {
  background-color: #F7F7F7;
  padding : 5px 15px;
}

#program .featurette-body {
    padding: 0px;
    padding-bottom: 15px;
}

.comite-text {
    width: 49%;
}
.comite-text.left{
    margin-right: 5px;
}
.comite-text.right{
   margin-left: 1%;
}

.box-text {
    background-color: #F7F7F7;
}
.table-programacao {
    padding: 8px 16px;
    background-color:white;
    margin:10px 0px;
}

.list-programacao li {
    margin: 10px 0px;
}
.list-programacao span{
    background-color: #3c6db3;
    color: #FFFFFF;
    padding: 5px;
    margin-bottom: 2px;
}

.list-programacao .default{
    background-color: #9fa8b4;
}
.nav-tabs>li>a {
    color:#4B4B4D;
    cursor: pointer;
}
.navbar-nav>li.active>a, .navbar-nav>li.active>a:focus, .navbar-nav>li.active>a:hover {
    color: #24569D;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    cursor: default;
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    border-bottom-color: transparent;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../image/enacomp2016 - 01.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h3 {
    font-size: 43px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.featurette-divider {
    margin: 30px 0;
}

.featurette-heading > span{
    margin-right: 10px;
}

.featurette-body {
    text-align: justify;
    padding: 15px;
}

.border-right {
    border-right: solid 1px #C5C5C5;
    padding-right: 30px;
}
.col-md-6 > .box-text{
    padding-top: 1px;
}

.beige {
    background-color: #E8E4DC;
}

.pre-footer {
    background-color: #4B4B4D;
    color: #FFFFFF;
}

.footer{
    background-color: #3D3D3D;
    /*color: #4B4B4D;*/
    color: #999999;
}
.img-160 {
    width:160px;
    height:160px;
}

.img-130 {
    width:128px;
    height:128px;
    background: url('../image/user.png') no-repeat lightsteelblue;
}
.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    color: #505050;
    /*font-size: 30px;*/
    text-align: center;
}

.sub-featurette-heading {
    font-size: 17px;
    font-style: italic;
}

.only-screen-max{
    display: none !important;
}

@media(min-width: 1060px){
    .only-screen-max{
        display: block !important;
    }
}
@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 27px;
    }
    .sub-featurette-heading {
        font-size: 22px;
    }

}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 25px;
    }
    .sub-featurette-heading {
        font-size: 21px;
    }
    .border-right {
        border-right: none;
        padding-right: 15px;
    }

    .featurette-body {
        padding-right: 0px;
        padding-left: 0px; 
    }

    .box-text .featurette-body {
        padding: 15px;
    }

    .col-md-12.box-text .featurette-body {
        padding-right: 0px;
        padding-left: 0px; 
    }

    .union-top {
        margin-top: -5px;
        padding-top: 0px !important;
    }

    .union-bottom {
        margin-bottom: -5px;
        padding-bottom: 0px !important;
    }
}

@media(max-width:767px) {
    .col-md-6 > .box-text {
         margin: 0 -15px; 
    }
}


@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
    .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
    .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
    .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7,
    .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
    .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
    .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-right: -15px;
        margin-left: -15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 23px;
    }
    .sub-featurette-heading {
        font-size: 18px;
    }
}

@media(max-width: 696px){
    .nav-tabs span {
        display: none;
    }
}
@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}
@media(max-width: 560px){
    .comite-text {
       width: 100%;
    }
}
@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

.logo-enacomp {
    background-image:url("../image/enacomp x45.png");
    width: 208px;
    height: 45px;
    display: block;
}
.container{
    width:auto;
}

.navbar-header.navbar-left, .navbar-collapse.navbar-right {
    padding: 15px 0px 15px 0px;
}
.navbar-right > .navbar-nav {
    margin-right: -15px;
}

.navbar-white {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-white .navbar-brand {
  color: #4B4B4D;
}
.navbar-white .navbar-brand:hover,
.navbar-white .navbar-brand:focus {
  color: #194D91;
  background-color: transparent;
}
.navbar-white .navbar-text {
  color: #4B4B4D;
}
.navbar-white .navbar-nav > li > a {
  color: #4B4B4D;
}
.navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus {
  color: #194D91;
  background-color: transparent;
}
.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus {
  color: #194D91;
  background-color: #080808;
}
.navbar-white .navbar-nav > .disabled > a,
.navbar-white .navbar-nav > .disabled > a:hover,
.navbar-white .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}