<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">VI CAMPEONATO DE JOGOS</h3>
    
        <div class="featurette-body">
            <p>
                O Campeonato de Jogos tem como objetivo reunir a comunidade acadêmica de diversas áreas em uma atividade de raciocínio lógico, organização de equipes e agilidade. Nesta edição do EnAComp, o Campeonato de Jogos está completando sua 6ª edição e terá novidades, como por exemplo, a disputa de jogos utilizando kinect, estimulando assim, a atividade física entre os acadêmicos. As vagas são limitadas e as inscrições podem ser feitas pelo site ou no dia do torneio antes das competições começarem.
            </p>
            
        </div>
    </div> 
</div>      
