    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">CERTIFICADOS</h3>
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
    <div class="container">
        <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Certificados de participação</h3>
                <div class="featurette-body">
					<p>
                        <strong>Certificados participantes:</strong><br>
                        <a href="docs/Participante.pdf" target="_blank">Participante</a>
                    </p>
                    <p>
                        <strong>Certificados minicursos:</strong><br>
                        <a href="docs/Minicursos.pdf" target="_blank">Minicursos</a>
                    </p>
                </div>
            </div>
        </div>
                <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Certificados de aceite de submissões</h3>
                <div class="featurette-body">
					<p>
                        <strong>Certificados de apresentação oral: </strong><br>
                        <a href="docs/Artigo_Oral.pdf" target="_blank">Artigo Oral</a>
                    </p>
                    <p>
                        <strong>Certificados de apresentação pôster:</strong><br>
                        <a href="docs/Artigo_Poster.pdf" target="_blank">Artigos Porter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">ANAIS</h3>
        </div>
    </div>
    
    <div class="featurette-divider"></div>

	<div class="container">
        <div class="col-md-12">
            <div class="col-md-12 featurette box-text">            
                
                <div class="featurette-body">
                    <p>
                        <strong>Anais Enacomp 2017:</strong><br>
                        <a href="docs/Anais_Enacomp2017.pdf" target="_blank">Anais</a> 
                    </p>
                </div>
            </div>  
        </div>      
    </div>
    