    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">COMITÊ CIENTÍFICO</h3>

            <div class="featurette-body">
                <div class="pull-left text-center" style='width: 100%;'>
                    
                    <p><a target="_blank" href="http://lattes.cnpq.br/3148813459575445">Dr. Antônio Carlos de Oliveira Junior </a><br>
                        Professor na UFG/INF – Goiânia/GO<br>
                        Email: antoniosojr@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/1245516173722185">M.Sc. Celso Augusto Raposo Lisboa Brennand</a><br>
                        Professor na UFRPE/DCC – Serra Talhada/PE <br>
                        Email: celsobrennand@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4294399254174298">M.Sc. Christiane Borges Santos</a><br>
                        Professora no Instituto Federal de Goiás, Campus Luziânia – Luziânia/GO <br>
                        Email: angel.chris@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3467486574090289">M. Sc. Cristiane de Fátima dos Santos Cardoso</a><br>
                        Professora no IFGO – Catalão/GO<br>
                        Doutoranda na UFU/Engenharia Elétrica – Uberlândia/MG<br>
                        Email: crisfsantos@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2307520004470578">Dr. Dalton Matsuo Tavares</a><br>
                        Professor na UFG – Catalão/GO<br>
                        Email: dmatsuo@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5813216656442007">M.Sc. Douglas Daniel Del Frari</a><br>
                    Professor na Devry FAFICA – Caruaru/PE<br>
                    Desenvolvedor de Software no C.E.S.A.R – Recife/PE<br>
                    Email: douglas.frari@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4483720738278386">M.Sc. Ednaldo Dilorenzo de Souza Filho</a><br>
                    Professor do IFPB – Campus Monteiro/PB<br>
                    Email: ednaldo.dilorenzo@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/0167275230724673">M.Sc. Fernando Antônio Asevedo Nóbrega</a><br>
                    Doutorando na USP/ICMC – São Carlos/SP<br>
                    Email: fernandoasevedo@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/7799035625879867">M. Sc. Gláucya Carreiro Boechat</a><br>
                    Doutornada na UFBA/Ciência da Computação – Salvador/BA<br>
                    Email: glaucyaboechat@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/8469623669888243">M.Sc. Gleibson Rodrigo Silva de Oliveira</a><br>
                    Desenvolvedor Pólo Tecnológico do Recife – Recife/PE<br>
                    Email: grso.pe@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2771260225601245">M.Sc. Hercilio de Medeiros Sousa</a><br>
                    Professor na UFPB Virtual/ IESP – Litoral Norte/PB<br>
                    Email: contato@herciliomedeiros.com.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5067841357024109">M.Sc. Iuri Santos Souza</a><br>
                    Doutorando na UFBA/DCC – RiSE – Salvador/BA<br>
                    Email: iurisin@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4430958315746203">Dr. Ivan do Carmo Machado</a><br>
                    Professor na UFBA/BA<br>
                    Email: ivan.machado@ufba.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3974513105953302">Dr. Ivan Sedin</a><br>
                    Professor na UFU/DCC – Uberlândia MG<br>
                    Email: ivansendin@yahoo.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4053071719790087">Dr. Ivonei Freitas da Silva</a><br>
                    Professor na UNIOESTE/DCC – Cascavel/PR<br>
                    Email: ifsse3@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3693296350551971">Dr. Iwens Sene Júnior</a><br>
                    Professor na UFG/INF – Goiânia/GO<br>
                    Email: iwensjr@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3000364145302421">M.Sc. Jeneffer Cristine Ferreira</a><br>
                    Professora na UFRPE – Recife/PE<br>
                    Email: jenefferferreira@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3129520221113785">M.Sc. Jonatas Bastos</a><br>
                    Professor na IFBA/Info – Irecê/BA<br>
                    Email: jonatasfbastos@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5796569578057076">Dra. Juliana de Albuquerque Gonçalves Saraiva</a><br>
                    Professora na UFPB – Rio Tinto, PB<br>
                    Email: julianajag@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/0773093291434417">M.Sc. Júnior César de Lima</a><br>
                    Professor no Instituto Federal Goiano, Campus Urutaí – Urutaí/GO<br>
                    Doutorando na UFG – Goiânia/GO<br>
                    Email: junio.ozn@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2817387497612302">M.Sc. Kádna Maria Alves Camboim Vale</a><br>
                    Professora na Universidade Federal Rural de Pernambuco - Unidade Acadêmica de Garanhuns (UAG)<br>
                    Doutoranda na UFPE<br>
                    Email: kadnacamboim@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5750570352089990">M.Sc. Larissa Rocha Soares</a><br>
                    Doutoranda na UFBA/DCC – RiSE– Salvador/BA<br>
                    Email: lari.rsoares@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/6798864284254487">M.Sc. Leandro Agostini do Amaral</a><br>
                    Doutorando na USP/ICMC – São Carlos/SP<br>
                    E-mail: ordnael@icmc.usp.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9163931285515006">Dr. Leandro Marques do Nascimento</a><br>
                    Professor na UFRPE –Recife/PE<br>
                    Email: leandro.marques@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/6706645814872000">M.Sc. Liliane do Nascimento Vale</a><br>
                    Professora na UFG – Catalão/GO<br>
                    Email: liliane.ufg@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4980327889869289">Dra. Luanna Lopes Lobato</a><br>
                    Professora na UFG/DCC – Catalão/GO<br>
                    Email: luannalopeslobato@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2702843581642246">Dr. Marcílio Ferreira de Souza Júnior</a><br>
                    Professor no Instituto Federal de Alagoas, Campus Maceió – Maceió/AL<br>
                    Email: marcilio@ifal.edu.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9907691146700229">Dr. Márcio Antônio Duarte</a><br>
                    Professor na UFG – Catalão/GO<br>
                    Email: marcioaduarte@gmail.com</p>                   

                    <p><a target="_blank" href="http://lattes.cnpq.br/0095510023252013">M.Sc. Márcio de Souza Dias</a><br>
                    Professor na UFG/DCC – Catalão/GO<br>
                    Doutorando na USP/ICMC – São Carlos/SP<br>
                    Email: marciosouzadias@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3637940122788341">Dr. Marcos Aurélio Batista</a><br>
                    Professor na UFG/DCC – Catalão/GO<br>
                    Email: marcos.frc@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/7864834001694765">Dra. Nádia Félix Felipe da Silva</a><br>
                    Professora da UFG/INF<br>
                    Email: nadia@icmc.usp.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/8460560631457931">Dr. Rafael de Amorim Silva</a><br>
                    Professor – UFAL/IC – Maceió/AL<br>
                    Email: rafael.amorim82@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/1900481113982922">M.Sc. Raphael Pereira de Oliveira</a><br>
                    Professor noInstituto Federal de Sergipe – Estância/SE<br>
                    Doutorando na UFBA/DCC – RiSE – Salvador/BA<br>
                    Email: raphaelcomputacao@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/0805947997778420">M.Sc. Rafael SerapilhaDurelli</a><br>
                    Doutorando na USP/ICMC – São Carlos/SP<br>
                    Email: rafa.durelli@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/7640822964644158">Dra. Renata Teles Moreira</a><br>
                    Consultora da SWQuality Consultoria e Sistemas – Recife/PE<br>
                    Email: renatatm@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/8154336739411524">M.Sc. Renata Maria de Souza</a><br>
                    Professora – Instituto Federal da Bahia, Jacobina/BA<br>
                    Email: renata.mrss@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4396387875808972">M.Sc. Rhavy Maia Guedes</a><br>
                    Professor no IFE, Ciência e Tecnologia da Paraíba – Campina Grande/PB<br>
                    Email: rhavy.maia@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2500050931586103">Dr. Robson Eduardo de Grande</a><br>
                    Gestor da NSERC DIVA Strategic Research Network<br>
                    Pós-doutorando no Laboratório PARADISE – Universityof Ottawa – Canadá<br>
                    Email: rdgrande@site.uottawa.ca</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/7697794806460975">M.Sc. Rodrigo Rocha Gomes e Souza</a><br>
                    Estudante de Doutorado – UFBA/BA – Salvador/BA<br>
                    Email: rodrigorgs@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9061098995683609">Dr. Sérgio Francisco da Silva</a><br>
                    Professor na UFG/DCC– Catalão/GO<br>
                    Email: sergio.f.silva@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/0735776247724502">M.Sc. Simone Silveira Amorim</a><br>
                    Doutorando na UFBA/DCC – Salvador/BA<br>
                    Email: simone.amorim@gmail.com</a>

                    <p><a target="_blank" href="http://lattes.cnpq.br/6389879317105663">M.Sc. Sofia Larissa da Costa</a><br>
                    Doutoranda no ICMC/USP – São Carlos/SP<br>
                    E-mail: sofialarissa@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2865736345811010">Dr. Tercio Alberto Santos Filho</a><br>
                    Professor na UFG/DCC – Catalão/GO<br>
                    Email: tercioas@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/0083867893889883">M.Sc. Thiago Souto Mendes</a><br>
                    Professor na IFBA – Campus Santo Amaro/BA<br>
                    Doutorando na Federal da Bahia – Salvador/BA<br>
                    Email: tsoutom@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9281027127027716">Dr. Thiago Jabur Bittar</a><br>
                    Professor na UFG/DCC – Catalão/GO<br>
                    Diretor da UFG Regional Catalão – Catalão/GO<br>
                    Email: thiagojabur@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2951148239333793">Dr. Ulysses Roberto Chaves Vitor</a><br>
                    Professor no IFPE Campus Garanhuns – Garanhuns/PE<br>
                    Email: ulyssesvitor02@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9864803557706493">M.Sc. Valdemar Vicente Graciano Neto</a><br>
                    Professor na UFG/INF – Goiânia/GO<br>
                    Doutorando na USP – São Paulo/SP<br>
                    Email: valdemarneto@usp.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5192533875584788">Dr. Vaston Gonçalves da Costa</a><br>
                    UFG – Regional Catalão – Catalão/GO<br>
                    Email: vaston@inf.puc-rio.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5509610744649925">M.Sc. Wesley Barbosa Thereza</a><br>
                    Professor na UNEMAT/DC – Alto Araguaia/MT<br>
                    Email: wesley@unemat.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9286314412199926">M.Sc. Wylliams Barbosa Santos</a><br>
                    Professor na UPE – Recife/PE<br>
                    Doutorando na UFPE/CIn – Recife/PE<br>
                    Email: wylliamss@gmail.com</p>
                </div>
            </div>
        </div>
    </div>