    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">COMITÊ CIENTÍFICO</h3>

            <div class="featurette-body">
                <div class="pull-left text-center" style='width: 100%;'>
                    <p><a target="_blank" href="http://lattes.cnpq.br/8559724221713699">Dr. Alexsandro Santos Soares</a> <br>
                        Professor na UFU/Faculdade de Ciências da Computação, Uberlândia/MG <br>
                        Email: alex@facom.ufu.br
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/0486342889109075">M.Sc. Amanda Chaves Rocha </a><br>
                        Professora na UFVJM/Inst. de Ciência e Tecnologia – Diamantina/MG<br>
                        Doutoranda – UFVJM/ICT, Campus JK, Diamantina/MG <br>
                        Email: amandarochac@gmail.com
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/3148813459575445">Dr. Antônio Carlos de Oliveira Junior </a><br>
                        Professor na UFG/INF – Goiânia/GO<br>
                        Email: antoniosojr@gmail.com
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/0098969128484565">M.Sc. Carina Machado de Farias </a><br>
                        Professora no IFBA, Campus Jacobina – Nazaré/BA<br>
                        Email: carinamf@gmail.com
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/4277471687235814">M.Sc. Carla Ilane Moreira Bezerra</a><br>
                        Professora na UFC – Quixadá/ CE <br>
                        Doutoranda na UFC/Ciências da Computação – Fortaleza, CE<br>
                        Email: carlailane@ufc.br
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/1245516173722185">M.Sc. Celso Augusto Raposo Lisboa Brennand</a><br>
                        Professor na UFRPE/DCC – Serra Talhada/PE <br>
                        Email: celsobrennand@gmail.com
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/4294399254174298">M.Sc. Christiane Borges Santos</a><br>
                        Professora no Instituto Federal de Goiás, Campus Luziânia – Luziânia/GO <br>
                        Email: angel.chris@gmail.com
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/0568358651250749">Dr. Ciro Meneses Santos</a><br>
                        Professor na UFVJM – Teofilo Otoni/MG<br>
                        Email: cirosantos@gmail.com
                    </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/9104143705992817">M.Sc. Crescencio Rodrigues Lima Neto</a><br>
                        Professor no IFBA/Info – Vitória da Conquista/Ba <br>
                        Email: crescencio@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3467486574090289">M. Sc. Cristiane de Fátima dos Santos Cardoso</a><br>
                        Professora no IFGO – Catalão/GO<br>
                        Doutoranda na UFU/Engenharia Elétrica – Uberlândia/MG<br>
                        Email: crisfsantos@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/8473904363105984">Dra. Cristiane Akemi Yagunuma</a><br>
                        Professora na IFSP – Campus Araraquara – Araraquara/SP <br>
                        Email: cristiane_yaguinuma@dc.ufscar.br
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2307520004470578">Dr. Dalton Matsuo Tavares</a><br>
                        Professor na UFG – Catalão/GO<br>
                        Email: dmatsuo@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4978298159144069">Dra. Daniele Santini Jacinto</a><br>
                        Especialista de laboratório na USP/Instituto de Física – São Carlos/SP<br>
                        Email: dsjdani@gmail.com
                    </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5813216656442007">M.Sc. Douglas Daniel Del Frari</a><br>
                    Professor na Devry FAFICA – Caruaru/PE, Desenvolvedor de Software no C.E.S.A.R – Recife/PE<br>
                    Email: douglas.frari@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4483720738278386">M.Sc. Ednaldo Dilorenzo de Souza Filho</a><br>
                    Professor do IFPB – Campus Monteiro/PB<br>
                    Email: ednaldo.dilorenzo@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4308415735190907">M.Sc. Elias Adriano Nogueira da Silva</a><br>
                    Doutorando na USP/Instituto de Computação e Matemática Computacional – São Carlos/SP<br>
                    Email: eliasadriano2010@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/6106142122604706">M.Sc. Fabrício da Costa Dias</a><br>
                    Professor na FACISA/FCM/ESAC – Campina Grande/PB<br>
                    Doutorando Universidade Presbiteriana Mackenzie – Mackenzie/SP<br>
                    Email: fabriciodias@facisa.edu.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/1059640637829204">M.Sc. Felipe Domingos da Cunha</a><br>
                    Doutorando na UFMG/DCC – Belo Horizonte/MG<br>
                    Email: fdcunha@dcc.ufmg.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/0167275230724673">M.Sc. Fernando Antônio Asevedo Nóbrega</a><br>
                    Doutorando na USP/ICMC – São Carlos/SP<br>
                    Email: fasevedo@icmc.usp.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/7799035625879867">M. Sc. Gláucya Carreiro Boechat</a><br>
                    Doutornada na UFBA/Ciência da Computação – Salvador/BA<br>
                    Email: glaucya.boechat@ufba.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/8469623669888243">M.Sc. Gleibson Rodrigo Silva de Oliveira</a><br>
                    Desenvolvedor Pólo Tecnológico do Recife – Recife/PE<br>
                    Email: grso@cin.ufpe.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/9603136866152813">M.Sc. Gustavo Henrique Porto de Carvalho</a><br>
                    Professor na UPE/POLI - Recife/PE<br>
                    Doutorando na UFPE/CIn – Recife/PE <br>
                    Email: ghpc@ecomp.poli.br / gushenr@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2340616806258461">Dr. Henrique Emanuel MostaertRebêlo </a><br>
                    Professor na UFPE/Cin – Recife/PE<br>
                    Email: hemr@cin.ufpe.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/2771260225601245">M.Sc. Hercilio de Medeiros Sousa</a><br>
                    Professor na UFPB Virtual/ IESP – Litoral Norte/PB<br>
                    Email: contato@herciliomedeiros.com.br</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/6158529951707953">M.Sc. Hugo Sica de Andrade</a><br>
                    DoutorandonaChalmers Institute of Technology & University of Gothenburg, Campus Lindholmen – Suécia.<br>
                    Email: hugosica@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/5067841357024109">M.Sc. Iuri Santos Souza</a><br>
                    Doutorando na UFBA/DCC – RiSE – Salvador/BA<br>
                    Email: iurisin@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4430958315746203">Dr. Ivan do Carmo Machado</a><br>
                    Professor na UFBA/BA<br>
                    Email: ivanmachado@gmail.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3974513105953302">Dr. Ivan Sedin</a><br>
                    Professor na UFU/DCC – Uberlândia MG<br>
                    Email: ivansendin@yahoo.com</p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/4053071719790087">Dr. Ivonei Freitas da Silva</a><br>
                    Professor na UNIOESTE/DCC – Cascavel/PR<br>
                    Email: ifsse3@gmail.com</p>
                    
                </div>
            </div>
        </div>
    </div>