<div class="featurette-divider"></div>

<div class="pre-footer featurette-body">
    <div class="container">
        <div class="">
            <div class="col-md-4">
                <h4>O TEMA DE 2017</h4>
                <p>O tema principal é a “Interdisciplinaridade: Ciência, Mercado e Tecnologia”. O objetivo primário deste evento, em sua 13° edição, é despertar o interesse de alunos da computação e de áreas elacionadas pelos temas que têm estado em destaque, a fim de reiterar os alunos e profissionais às recentes pesquisas científicas na área de Ciência da Computação e às necessidades do mercado de trabalho.</p>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>

<div class="footer featurette-body">
    <!-- Footer -->
    <footer class="container">            
        <div class="col-lg-12">
            <p>Enacomp 2017, Departamento de Ciência da Computação - UFG Regional Catalão</p>
        </div>            
    </footer>
</div>