    <header class="header-image">
        <div class="headline">
            <div class="container invisible">
                <h1>EnAComp 2017</h1>
                <h2>XIII Encontro Anual de Computação</h2>
                <h3>24 a 26 de Maio</h3>
                <h3>Catalão - GO - Brasil</h3>
            </div>
        </div>
    </header>

    <div class="featurette-divider"></div>

    <div class="container">
        <!-- O evento -->
        <div class="col-md-5 featurette" id="about">
            <h3 class="featurette-heading"><span class="glyphicon glyphicon-flag"></span>O EVENTO</h3>

            <div class="featurette-body border-right">
                <p>
                    O XIII Encontro Anual de Computação (EnAComp) 2017 ocorrerá, na Universidade Federal de Goiás (UFG) – Regional Catalão, entre os dias 24 a 26 de maio de 2017. O evento traz como tema principal a “Interdisciplinaridade: Ciência, Mercado e Tecnologia”. O objetivo primário deste evento, em sua 13ª edição, é despertar o interesse de alunos da computação e de áreas relacionadas pelos temas que têm estado em destaque, a fim de reiterar os alunos e profissionais às recentes pesquisas científicas na área de Ciência da Computação e às necessidades do mercado de trabalho. 
                    <p><a href="#/evento" ng-click="gotoTop()">Ler mais >></a></p>
                </p>
            </div>
        </div>

         <!-- Palestrantes -->
        <div class="col-md-7 featurette" id="services">
            <h3 class="featurette-heading"><span class="glyphicon glyphicon-user"></span>CONHEÇA OS PALESTRANTES DE 2017</h3>
            <div class="featurette-body">
                <img class="featurette-image img-160 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4721460A8">
                <p>
                    <a target="_blank" href="http://lattes.cnpq.br/2734447981764714">Dr.ª Celia Aparecida Zorzo Barcelos</a><br>
                    Bolsista de Produtividade em Pesquisa do CNPq - Nível 1D - CA CC - Ciências da Computação <br>
                    Professora Titular na Universidade Federal de Uberlândia – UFU/FAMAT.
                </p>
                <p><a href="#/palestrantes" ng-click="gotoTop()">Ver todos >></a></p>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>

    <div class="">
        <!-- localização -->
        <div class="featurette beige" id="contact">            
            <h3 class="featurette-heading">
                <span class="glyphicon glyphicon-map-marker"></span>LOCAL: UFG - REGIONAL CATALÃO <br>
                <span class="sub-featurette-heading text-muted">Av. Dr. Lamartine P. Avelar, 1120 - Setor Universitário</span>
            </h3>
            <div id="googleMap"></div>
        </div>
    </div>    

    <div class="featurette-divider"></div>

    <div class="container">

        <div class="col-md-12 featurette" id="about">
            <h3 class="featurette-heading">REALIZAÇÃO E APOIO</h3>

            <div class="featurette-body divs-center">
                <div class="img-logo">
                    <div class=" logo-ufg"></div>
                </div>
                <div class="img-logo">
                    <div class=" logo-dcc"></div>
                </div>
                <div class="img-logo">
                    <div class=" logo-sbc"></div>
                </div>
                <div class="img-logo">
                    <div class=" logo-fapeg"></div>
                </div>
                <div class="img-logo">
                    <div class=" logo-fp"></div>
                </div>
                <div class="img-logo">
                    <div class=" logo-ifg"></div>
                </div>
            </div>
        </div>
    </div> 

    <script>

    function initialize() {
        var myLatLng = {lat: -18.1550805, lng: -47.9310702};

        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 16,
            center: myLatLng,
            scrollwheel: false
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map
        });
    }
    
    </script>

    <!-- API Google Map-->    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBTwqV150_XR5oprlxcXLjzP2a18YAYUo&signed_in=true&callback=initialize"></script>
