    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">INSCRIÇÕES</h3>
        </div>

        <div class="col-md-12">                
            <div class="col-md-12 featurette box-text">            
                <h3 class="featurette-heading">Lotes de inscrição </h3>
                
                <div class="col-md-12">
                    <div class="box-text">
                        <div class="featurette-body union-bottom">
                            <p>
								Aproveitem o período promocional para se inscreverem no XIII Encontro Anual de Computação - EnAComp 2017!
							<br>
								Informações sobre as inscrições:
							</p>
						</div>
					</div>
				</div>                            
                
                <div class="col-md-6">
                    <div class="box-text null-box-text">
                        <div class="featurette-body union-top union-bottom">
                            <p>
								<strong>Promocional (Até 10/03)</strong><br>
								Inscrever-se pelo email: nubiasrosa@gmail.com<br>
								Profissional R$ 80,00 <br>
								Estudante de pós-graduação R$ 55,00 <br>
								Estudante de graduação ou ensino médio R$ 40,00
							</p>
							<p>
								<strong>Primeira Etapa (11/03 a 10/04)</strong><br>
								Profissional R$ 100,00<br>
								Estudante de pós-graduação R$ 70,00<br>
								Estudante de graduação ou ensino médio R$ 50,00
							</p>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="box-text null-box-text">
                        <div class="featurette-body union-top">
                            <p>
								<strong>Segunda Etapa (11/04 a 10/05)</strong><br>
								Profissional R$ 120,00<br>
								Estudante de pós-graduação R$ 80,00<br>
								Estudante de graduação ou ensino médio R$ 60,00
							</p>
							<p>
								<strong>Terceira Etapa (11/05 a 26/05)</strong><br>
								Profissional R$ 140,00<br>
								Estudante de pós-graduação R$ 95,00<br>
								Estudante de graduação ou ensino médio R$ 70,00
							</p>							
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
    <div class="container">
        <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Minicursos</h3>
                <div class="featurette-body">
					<p>Para se inscrever em um minicurso é necessário se inscrever também no EnAComp 2017. Para cada minicurso desejado, deve ser pago um valor individual à parte.</p>
              		<p>
						<strong>Inscrição em minicursos (Vagas limitadas!!)</strong><br>
						Inscrever-se pelo email: nubiasrosa@gmail.com <br>
						Minicurso 1 (24 e 25/05 de 18h às 20h) — Gestão e Governança Corporativa de TI – Cobit 5 - R$ 10,00 <br>
						Minicurso 2 (22 a 25/05 de 19h às 22h30) — Desenvolvimento mobile (IOS) - R$ 30,00 <br>
						Minicurso 3 (24 e 25/05 de 18h às 22h30) — Programação em Python - R$ 20,00
					</p>
                </div>
            </div>
        </div>
                <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Autores de artigos</h3>
                <div class="featurette-body">
                    
					<p>Pelo menos 1 autor de cada artigo deve efetuar a inscrição no evento. Para garantir a publicação do seu artigo nos anais do evento, <strong>a inscrição deve ser feita até o dia 10/05</strong>.</p>

                </div>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
	<div class="container">
        <div class="col-md-12">
            <div class="col-md-12 featurette box-text">            
                <h3 class="featurette-heading">Instruções</h3>

                <div class="featurette-body">
                    <p>
                        Escolha o tipo de inscrição e o minicurso que deseja participar. Transfira ou deposite o valor total para a conta a seguir ou faça sua inscrição pessoalmente na Sala 318 Bloco M:
                    </p>
                    <p>
						Caixa Econômica Federal <br>
						Núbia Rosa da Silva <br>
						Agência: 0564 <br>
						Conta Poupança: 00088619-9 <br>
						Operação: 013
					</p>
					<p>
						Envie o comprovante de pagamento e documento de comprovação de que é estudante de graduação ou pós-graduação para nubiasrosa@gmail.com.
                    </p>
                </div>
            </div>  
        </div>      
    </div>
    
    <div class="featurette-divider"></div>

    <div class="container">
 		<div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Informações gerais</h3>
                <div class="featurette-body">
                    <p>A inscrição dá direito à:
                    	<ul>
							<li>Participação em todas as palestras;</li>
							<li>Participação em todas as sessões técnicas, apresentações orais e pôsteres;</li>
							<li>Material do participante;</li>
							<li>Coffee-breaks.</li>
						</ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 featurette">
            <div class="box-text">            
                <h3 class="featurette-heading">Observações</h3>

                <div class="featurette-body">
					<p>As inscrições para o evento como um todo são limitadas e após o número limite de inscritos não será possível aceitar nenhuma inscrição adicional.</p>
					<p>Os inscritos que necessitarem de alojamento tem a opção de fazerem a reserva ao custo de R$ 20,00 por noite + R$ 4,00 de taxa de limpeza (limitado a 66 vagas).</p>
                </div>
            </div>
        </div>       
    </div>
    