<div class="container" ng-controller="contatoCtrl">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">MARATONA DE PROGRAMAÇÃO</h3>

        <div class="featurette-body">
            <p>
               A Maratona de Programação é um evento da Sociedade Brasileira de Computação que existe desde o ano de 1996. A Maratona nasceu das competições regionais classificatórias para as finais mundiais do concurso de programação da ACM, o ACM International Collegiate Programming Contest, e é parte da Regional Sulamericana do concurso.
              </p>
              <p>
				Na Maratona de Programação do XIII EnAComp, será realizada uma série de atividades, fazendo com que os alunos trabalhem em equipe e expressem suas capacidades de raciocínio lógico através de diferentes níveis e fases da maratona.   
				A Maratona de Programação é destinada a alunos de cursos de graduação e início de pós-graduação em Ciências da Computação e áreas afins (Engenharia de Computação, Sistemas de Informação, Matemática, Engenharia de Software, entre outras). A competição promove nos alunos a criatividade, a capacidade de trabalho em equipe, a busca de novas soluções de software e a habilidade de resolver problemas sob pressão. De ano para ano temos observado que as instituições e, principalmente, as grandes empresas da área, têm valorizado os alunos que participam da Maratona.
            </p>

        </div>
    </div> 
</div>      
