<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">GESTÃO E GOVERNANÇA DE TI – COBIT 5</h3>

        <div class="featurette-body">
            <p><strong>Raul Coelho Soares</strong></p>
            <p>
              A TI (Tecnologia da Informação) muitas vezes é vista pelos executivos de uma empresa (não técnicos) como uma espécie de caixa preta, da qual pouco se sabe e muito se teme. É difícil, para muitos, saber o que se pode exigir desta vital área da organização, como medir seu desempenho, como, enfim, tirar o maior proveito do, em geral, alto investimento que é demandado por esta área. A necessidade de uma boa governança de TI tem se tornado preocupação primordial nas organizações.
            </p>
            <p>
              Cada vez mais, a informação é um ativo de vital importância para as organizações e a área de Tecnologia da Informação exerce um papel essencial na geração e manutenção deste ativo. Por um lado, é preciso abrir os olhos do pessoal mais técnico para a necessidade de alinhar os objetivos da TI com os objetivos da organização, gerenciar o risco, estar em dia com a legislação (compliance). Por outro, devemos prover o corpo executivo da organização de uma linguagem não técnica que lhe permita atingir tais objetivos, estendendo a governança corporativa para a Tecnologia da Informação.
            </p>
            <p>
              Esta é uma área bastante promissora para profissionais de TI, de perfil técnico, que queiram alçar novos vôos em suas carreiras, mostrando sua capacidade de entender e participar mais efetivamente da parte de negócio e estratégica da empresa.
            </p>
            <p>
              Uma forma bastante prática de demonstrar o entendimento deste vocabulário, que é mais ligado à área de negócio que técnica, é certificar-se em algum modelo de governança de TI, dentro os quais, destaca-se o COBIT.
            </p>
            <p>
              Este conhecimento para futuros cientistas poderá abrir os olhos para pesquisas que visam facilitar/entregar maior valor para as organizações públicas/privadas e porque não trazer cada vez mais cientistas para alta gestão de grandes empresas, afinal grande parte das mudanças incorrem em mudanças em processos e tecnologia.
            </p>
            <p>
              Portanto, o objetivo do curso é trazer a visão do Cobit 5 em seus princípios,  habilitadores, dimensões, processos e domínios. De forma que o aluno tenha visão de como uma grande organização se estrutura para atender as demandas de tecnologia.
            </p>
            <p>
              O curso será motivador para o aluno se preocupar desde o início com a gestão, qualidade, indicadores, riscos e valores dos projetos que estiver envolvido.

              Será apresentado como os órgãos de Governo e empresas de tecnologia tem se estruturado hoje para atender as demandas de tecnologia.
            </p>

        </div>
    </div> 
</div>      
