<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">PROGRAMAÇÃO EM PYTHON</h3>

        <div class="featurette-body">
            <p><strong>Lafaiet Castro e Silva</strong></p>
            <p>
              O minicurso de introdução ao Python irá apresentar uma visão geral da linguagem, abordando:
              <ul>
                <li>Fundamentos</li>
                <li>Estruturas de dados</li>
                <li>Estruturas condicionais e de repetição </li>
                <li>Orientação a objetos</li>
                <li>Principais módulos e frameworks</li>
              </ul>
            </p>
            <p>
              O curso terá um viés prático, onde os alunos terão oportunidade de colocar os conhecimentos adquiridos por meio de exercícios sugeridos.
              O objetivo é fornecer as bases para que os interessados possam então se apronfundar posteriormente. 
              De posse desses conhecimentos, e com dedicação pessoal, os alunos poderão fazer uso da linguagem e de seu ecosistema para trabalhar com desenvolvimento web, administração de sistemas e de infra estrutura, ciência de dados, etc. Todas áreas com alta demanda de profissionais bem qualificados com alta remuneração no mundo todo.
            </p>

        </div>
    </div> 
</div>      
