<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">DESENVOLVIMENTO MOBILE IOS</h3>

        <div class="featurette-body">
            <p><strong>Fausto Mastrella</strong></p>
            <p>
              O curso tem como objetivo mostrar para os alunos como dar os primeiros passos dentro da plataforma iOS e assim terem a capacidade de colocar seus conhecimentos em prática para construir aplicações para dispositivos Apple. Para isso, será apresentado as principais características, o ambiente de desenvolvimento e ferramentas da nova linguagem da Apple: Swift. Quando concluído, o aluno terá o conhecimento necessário para dar seus próprios passos dentro da plataforma. 
            </p>

        </div>
    </div> 
</div>      
