    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">ORGANIZAÇÃO</h3>

            <div class="featurette-body row">
                <div class="pull-left text-center col-md-12">
                    <p>
                        Todos os membros da comissão organizadora são professores doutores efetivos na Universidade Federal de Goiás, sendo:
                    </p>                    
                    <p class="pull-left comite-text left">
                        Coordenadora: <br>
                        <a target="_blank" href="http://lattes.cnpq.br/8448585265537772">Dr.ª Núbia Rosa da Silva </a><br>
                        Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.
                    </p>
                    <p class="pull-right comite-text right">
                        Vice-coordenador: <br>
                        <a target="_blank" href="http://lattes.cnpq.br/5245055964402823"> Dr. Geraldo Sadoyama Leal </a><br>
                        Doutorado em Imunologia e Parasitologia Aplicadas pela Universidade Federal de Uberlândia. 
                    </p>                    
                </div>

                <div class="pull-left text-center col-xs-12">
                    <p> Equipe executora: </p>
                    <p><a target="_blank" href="http://lattes.cnpq.br/2307520004470578">Dr. Dalton Matsuo Tavares</a> <br>
                    Doutorado em Engenharia Mecânica pela Universidade de São Paulo. </p>

                    <p><a target="_blank" href="http://lattes.cnpq.br/3543161568907178">Dr.ª Dayse Silveira de Almeida</a><br>
                    Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/5269312530540199">Dr. Douglas Farias Cordeiro</a><br>
                    Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/4980327889869289">Dr.ª Luanna Lopes Lobato</a><br>
                    Doutorado em Ciência da Computação pela Universidade Federal de Pernambuco.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/3637940122788341">Dr. Marcos Aurélio Batista</a><br>
                    Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/9907691146700229">Dr. Márcio Antônio Duarte</a><br>
                    Doutorado em Ciência da Computação pela Universidade Federal de Goiás.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/0095510023252013">Dr. Márcio de Souza Dias</a><br>
                    Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/9061098995683609">Dr. Sérgio Francisco da Silva</a><br>
                    Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/2865736345811010">Dr. Tércio Alberto dos Santos Filho </a><br>
                    Doutorado em Engenharia Elétrica pela Universidade Estadual Paulista Júlio de Mesquita Filho.</p>

                    <p> <a target="_blank" href="http://lattes.cnpq.br/9281027127027716">Dr. Thiago Jabur Bittar</a><br>
                    Doutorado em Ciências pelo Instituto de Ciências Matemáticas e de Computação - Universidade de São Paulo.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
    <div class="container">

        <div class="col-md-12 featurette">            
            <h3 class="featurette-heading">COMISSÃO DE DISCENTES</h3>
            <div class="featurette-body">
                <div class="text-center">
                    <p>
                       Discentes do curso de Ciência da Computação UFG/RC participantes da comissão organizadora:
                    </p>
                    <p>
                        ALANA COSTA MACHADO <br>
                        ADRIANO LOPES LEAO DA SILVA <br>
                        ALEXANDRE ROCHA ALBINO <br>
                        ALFREDO DA SILVA CARNEIRO <br>
                        ALLAN LEITE PERES <br>
                        ANA PAULA SOENGAS RABELO DE MORAES <br>
                        DANIEL AUGUSTO DAS NEVES CARRIJO <br>
                        DANIEL NÓIA LOPES <br>
                        DANILO AUGUSTO CORREA SUZUKI <br>
                        DEBORA EGLE CALDEIRA <br>
                        DIEGO MOREIRA DE OLIVEIRA <br>
                        DIMAS ANTÔNIO ROSA JÚNIOR <br>
                        EDUARDO LUIZ MOREIRA DA COSTA <br>
                        ERLY DE ARAÚJO LIMA FILHO <br>
                        FABIO LUCAS DE ALMEIDA <br>
                        GABRIEL LIMA MATIAZO <br>
                        GUILHERME FREITAS DA SILVA <br>
                        GUSTAVO RODRIGUES DE OLIVEIRA <br>
                        HALLEFY FERREIRA CLARIANO <br>
                        IGOR LUIDJI TURRA <br>
                        ISRAEL RODRIGUES DE JESUS <br>
                        JEFERSON FELIPE DA SILVA <br>
                        KAIO BORGES NASCIMENTO <br>
                        KELVYN LUCAS DA SILVA <br>
                        LUCAS OLIVEIRA GUERRA <br>
                        LUIZ EDUARDO COSTA DA MOTA LEITE <br>
                        MAICON DE JESUS LIMA <br>
                        MARCOS ANTONIO LOPES LIMA <br>
                        MARCOS MISAEL DA SILVA <br>
                        MARCOS VINICIUS TOMAZ DE OLIVEIRA <br>
                        MARIO VICTOR DE JESUS SANTANA SOUSA<br>
                        MELQUE HENRIQUE LEMES DE CASTRO <br>
                        OLÁVIO GONCALVES DE ALMEIDA <br>
                        PATRICIA DUARTE DA SILVA <br>
                        PAULO HENRIQUE SILVA AZEVEDO <br>
                        PEDRO HENRIQUE VIEIRA SILVA <br>
                        PEDRO PAULO OEDENKOVEN PORTO <br>
                        PHILLYPI FERNANDES VIEIRA <br>
                        RÉGIS BRITO DO AMARAL <br>
                        REIDNER FERREIRA ROSA <br>
                        RODOLFO DE OLIVEIRA MAGALHÃES <br>
                        ROGER JHONSON DE ALMEIDA MESQUITA <br>
                        SAMUEL HENRIQUE FRANCA LEITE <br>
                        SANDRO JOSE DE SOUZA JUNIOR <br>
                        THIAGO FRANCISCO DE SOUZA LEITE <br>
                        VITOR DO VALE BERNARDO <br>
                        WAGNER SILVA FILHO <br>
                        WASHINGTON MACHADO LOURENÇO <br>
                        WISLEY KILDER DA SILVA NOGUEIRA <br>
                    </p>
                </div>
            </div>
        </div>        
    </div>