<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">PALESTRANTES</h3>

        <div class="featurette-body">
            <div class="row">
            
                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/2734447981764714">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4721460A8">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/2734447981764714">Dr.ª Celia Aparecida Zorzo Barcelos</a><br>
                        Bolsista de Produtividade em Pesquisa do CNPq - Nível 1D - CA CC - Ciências da Computação <br>
                        Professora Titular na Universidade Federal de Uberlândia – UFU/FAMAT.
                    </p>
                </div>

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/4796921913434370">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4790593P1">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/4796921913434370">Dr. Odemir Martinez Bruno</a><br>
                        Bolsista de Produtividade em Pesquisa do CNPq - Nível 1C - CA CC - Ciências da Computação<br>
                        Professor Associado na Universidade de São Paulo – USP/IFSC.
                    </p>
                </div>

                <!-- <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/4462635233301972">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4745779Y1">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/4462635233301972">Dr. João Batista Florindo</a><br>
                        Professor Doutor I no Instituto de Matemática, Estatística e Computação Científica (IMECC) da Universidade Estadual de Campinas - Unicamp.
                    </p>  
                </div> -->
                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/5269312530540199">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4260297Y6">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/5269312530540199">Dr. Douglas Farias Cordeiro</a><br>
                        Professor Doutor na Universidade Federal de Goiás – UFG/FIC/GI
                    </p>
                </div>    

                <!-- <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/8630973561889272">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4751145J5">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/8630973561889272">Dr. Marcelo Augusto Assunção Sanches</a><br>
                        Professor Assistente Doutor da Universidade Estadual Paulista Júlio de Mesquita Filho – Unesp 
                    </p>
                </div> -->
                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/1687736633515498">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4750420E7">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/1687736633515498">Dr. Carlos Alberto da Silva – UFMS</a><br>
                        Professor Adjunto II da Universidade Federal de Mato Grosso do Sul – UFMS
                    </p>
                </div>
                <!-- <div class="col-md-6 featurette panel-body">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left">
                    <p class="m-t-15">
                        Luis Cláudio Theodoro<br>
                        Coordenação de Desenvolvimento de Soluções – Algar Telecom
                    </p>
                </div> -->     

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/9938244088922275">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4750420E7">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/9938244088922275">Dr. Ole Peter Smith </a><br>
                        Professor Adjunto da Universidade Federal de Goiás – UFG
                    </p>
                </div>     

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/5523971366877609">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4750420E7">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/5523971366877609">Dr.ª Eliany Alvarenga</a><br>
                        Professora Titular da Universidade Federal da Paraíba – UFPB 
                    </p>
                </div>
                <div class="col-md-6 featurette panel-body">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left">
                    <p class="m-t-15">
                        Sérgio Ferreira<br>
                        CEO WGO Telecomunicações  
                    </p>
                </div>
                <div class="col-md-6 featurette panel-body">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left">
                    <p class="m-t-15">
                        Raul Coelho Soares<br>
                        Diretor de Tecnologia, cargo de Subsecretário de Estado na hierarquia do Governo do Distrito Federal, desde 01/2011, onde é servidor efetivo, no cargo de especialista de trânsito do DETRAN-DF. Foi servidor do Serviço Federal de Processamento de Dados (Serpro), 2006-2010, tendo sido administrador de dados dos principais sistemas do governo federal, participando do planejamento de projetos estratégicos da diretoria, ainda foi Gerente do Departamento de Integração de Dados e Processos, entre 01/2009 à 07/2010. É membro efetivo de grupos/comunidades que discutem padrões e projetos para o Governo Federal desde 2009.   
                    </p>
                </div>
                <div class="col-md-6 featurette panel-body">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left">
                    <p class="m-t-15">
                        Rodrigo Kono<br>
                        Microsoft MVP, MCP, MCTS, MCPD e MCT. Possui mais de 15 anos de carreira em desenvolvimento de aplicações e se graduou em Ciências da Computação e possui MBA em Gestão de Projetos. É consultor independente, com foco em tecnologia e arquitetura .NET, soluções e negócios em nuvem. É um dos precursores e disseminadores da plataforma.NET no Brasil, ministrou palestras nas principais capitais do país e grandes eventos como o TechEd da Microsoft, TDC, ASP.NET Conference, entre outros, que somam milhares de pessoas nestes últimos anos. É um corredor de rua nato, amante da comida japonesa e viciado em uma boa partida de Fifa XBOX.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>