<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">PALESTRANTES</h3>

        <div class="featurette-body">
            <div class="row">
                
                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/1687736633515498">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4750420E7">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/1687736633515498">Dr. Carlos Alberto da Silva – UFMS</a><br>
                        Professor Adjunto II da Universidade Federal de Mato Grosso do Sul – UFMS
                    </p>
                </div>

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/2734447981764714">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4721460A8">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/2734447981764714">Dr.ª Celia Aparecida Zorzo Barcelos</a><br>
                        Bolsista de Produtividade em Pesquisa do CNPq - Nível 1D - CA CC - Ciências da Computação <br>
                        Professora Titular na Universidade Federal de Uberlândia – UFU/FAMAT.
                    </p>
                </div>

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/5269312530540199">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4260297Y6">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/5269312530540199">Dr. Douglas Farias Cordeiro</a><br>
                        Professor Doutor na Universidade Federal de Goiás – UFG/FIC/GI
                    </p>
                </div>

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/5523971366877609">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="https://gestaodainformacao.fic.ufg.br/up/400/o/Eliany.jpg">
                        <!-- src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4723028P0"> -->
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/5523971366877609">Dr.ª Eliany Alvarenga</a><br>
                        Professora Titular da Universidade Federal da Paraíba – UFPB 
                    </p>
                </div>
                
                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/4796921913434370">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="https://i1.rgstatic.net/ii/profile.image/AS%3A277030546493450@1443060637922_l/Odemir_Bruno.png">
                        <!-- src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4790593P1"> -->
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/4796921913434370">Dr. Odemir Martinez Bruno</a><br>
                        Bolsista de Produtividade em Pesquisa do CNPq - Nível 1C - CA CC - Ciências da Computação<br>
                        Professor Associado na Universidade de São Paulo – USP/IFSC.
                    </p>
                </div>

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/9938244088922275">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://latinoware.org/wp-content/uploads/2016/03/ole.jpg">
                        <!-- src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K4753902T7"> -->
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/9938244088922275">Dr. Ole Peter Smith </a><br>
                        Professor Adjunto da Universidade Federal de Goiás – UFG
                    </p>
                </div>     

                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://lattes.cnpq.br/8064676374490743">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=K8503766E1">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://lattes.cnpq.br/8064676374490743">Raul Coelho Soares</a><br>
                        Diretor de Tecnologia, cargo de Subsecretário de Estado na hierarquia do Governo do Distrito Federal. <br>
                        Servidor efetivo, no cargo de especialista de trânsito do DETRAN-DF. 
                    </p>
                </div>
                <div class="col-md-6 featurette panel-body">
                    <a target="_blank" href="http://www.rodrigokono.net/">
                        <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://www.rodrigokono.net/wp-content/uploads/2016/01/rodrigokono_avatar01.jpg">
                    </a>
                    <p class="m-t-15">
                        <a target="_blank" href="http://www.rodrigokono.net/">Rodrigo Kono</a><br>
                        Consultor independente, com foco em tecnologia e arquitetura .NET, soluções e negócios em nuvem. <br>
                        Microsoft MVP, MCP, MCTS, MCPD e MCT.
                    </p>
                </div>                
            </div>
        </div>
    </div>
</div>