<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">PALESTRANTES</h3>

        <div class="featurette-body">
            <div class="row">
            
                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4721460A8">
                    <p>
                        <a target="_blank" href="http://lattes.cnpq.br/2734447981764714">Dr.ª Celia Aparecida Zorzo Barcelos</a><br>
                        Bolsista de Produtividade em Pesquisa do CNPq - Nível 1D - CA CC - Ciências da Computação <br>
                        Professora Titular na Universidade Federal de Uberlândia – UFU/FAMAT.
                    </p>
                </div>

                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4790593P1">
                    <p>
                        <a target="_blank" href="http://lattes.cnpq.br/4796921913434370">Dr. Odemir Martinez Bruno</a><br>
                        Bolsista de Produtividade em Pesquisa do CNPq - Nível 1C - CA CC - Ciências da Computação<br>
                        Professor Associado na Universidade de São Paulo – USP/IFSC.
                    </p>
                </div>

                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4745779Y1">
                    <p>
                        <a target="_blank" href="http://lattes.cnpq.br/4462635233301972">Dr. João Batista Florindo</a><br>
                        Professor Doutor I no Instituto de Matemática, Estatística e Computação Científica (IMECC) da Universidade Estadual de Campinas - Unicamp.
                    </p>  
                </div>
                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4260297Y6">
                    <p>
                        <a target="_blank" href="http://lattes.cnpq.br/5269312530540199">Dr. Douglas Farias Cordeiro</a><br>
                        Professor Doutor na Universidade Federal de Goiás – UFG/FIC/GI
                    </p>
                </div>    

                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4751145J5">
                    <p>
                        <a target="_blank" href="http://lattes.cnpq.br/8630973561889272">Dr. Marcelo Augusto Assunção Sanches</a><br>
                        Professor Assistente Doutor da Universidade Estadual Paulista Júlio de Mesquita Filho – Unesp 
                    </p>
                </div>
                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left" src="http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&amp;id=K4750420E7">
                    <p>
                        <a target="_blank" href="http://lattes.cnpq.br/1687736633515498">Dr. Carlos Alberto da Silva – UFMS</a><br>
                        Professor Adjunto II da Universidade Federal de Mato Grosso do Sul – UFMS
                    </p>
                </div>
                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left">
                    <p>
                        Luis Cláudio Theodoro<br>
                        Coordenação de Desenvolvimento de Soluções – Algar Telecom
                    </p>
                </div>     

                <div class="col-md-6 featurette">
                    <img class="featurette-image img-130 img-circle img-responsive pull-left">
                    <p>
                        Sérgio Ferreira<br>
                        CEO WGO Telecomunicações  
                    </p>
                </div>   
            </div>

        </div>
    </div>
</div>