
    <div class="container">
        <!-- Programacao -->
        <div id="program" class="col-md-12 featurette" ng-controller="tabsCtrl">
            <h3 class="featurette-heading">PROGRAMAÇÃO</h3>
            <ul class="nav nav-tabs">
                <li ng-class="{ active: isSet(1) }"><a data-toggle="tab" ng-click="setTab(1)">Dia 1 <span>(Segunda-feira - 24 de Maio)</span></a></li>
                <li ng-class="{ active: isSet(2) }"><a data-toggle="tab" ng-click="setTab(2)">Dia 2 <span>(Terça-feira - 25 de Maio)</span></a></li>
                <li ng-class="{ active: isSet(3) }"><a data-toggle="tab" ng-click="setTab(3)">Dia 3 <span>(Quarta-feira - 26 de Maio)</span></a></li>
            </ul>

            <div class="featurette-body">
                <div class="tab-content">               
                    <div id="menu1" class="tab-pane fade in" ng-class="{ active: isSet(1) }">
                        
                        <div class="table-programacao">
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th width="120px">Horário</th>
                                        <th>Atividade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="list-programacao">
                                        <td><span>08:30 — 09:00</span></td>
                                        <td>Credenciamento e Coffe Break</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>09:00 — 09:30</span></td>
                                        <td>Abertura</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>09:30 — 10:00</span></td>
                                        <td>Apresentação cultural com artistas regionais</td>
                                    </tr>

                                    <tr class="list-programacao">
                                        <td><span>10:00 — 11:30</span></td>
                                        <td><strong>Palestra 1</strong> — Segmentação de imagens baseada em modelos <i>fuzzy</i> (Dra. Celia Aparecida Zorzo Barcelas - UFU)</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td> <span class="default">12:00 — 14:00</span></td>
                                        <td>Intervalo para almoço</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>14:00 — 15:30</span></td>
                                        <td><strong> Palestra 2</strong> — Criptografia (Dr. Odemir Martinez Bruno - USP)</td>
                                    </tr>

                                    <tr class="list-programacao">
                                        <td><span>15:30 — 16:00</span></td>
                                        <td>Coffe Break</td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>16:00 — 17:30</span></td>
                                        <td><strong>Palestra 3</strong> — Reconhecimento de padrões em imagens de plantas (Dr. João Batista Florindo - UNICAMP)</td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>18:00 — 20:00</span></td>
                                        <td><a href="#/maratona" ng-click="gotoTop()">Maratona de programação</a> / <a href="#/campeonato" ng-click="gotoTop()">Campeonato de games</a></td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>19:00 — 21:00</span></td>
                                        <td>
                                            <strong>Minicurso 1</strong> — Programação em Cuda <br>
                                            <strong>Minicurso 2</strong> — Desenvolvimento mobile <br>
                                            <strong>Minicurso 3</strong> — Programação em Python
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade in" ng-class="{ active: isSet(2) }">
                        <div class="table-programacao">
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th width="120px">Horário</th>
                                        <th>Atividade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="list-programacao">
                                        <td> <span>08:30 — 10:00</span></td>
                                        <td><strong>Palestra 4</strong> – Reabilitação (Dr. Marcelo Augusto Assunção Sanches - Unesp)
                                        </td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>10:00 — 10:30</span></td>
                                        <td>Coffee Break</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>10:30 — 12:00</span></td>
                                        <td><strong>Palestra 5</strong> – Segurança em nuvem computacional (Dr. Carlos Alberto da Silva - UFMS)</td>
                                    </tr>

                                    <tr class="list-programacao">
                                        <td><span>10:30 — 12:00</span></td>
                                        <td><strong>Palestra 5</strong> – Segurança em nuvem computacional (Dr. Carlos Alberto da Silva - UFMS)</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td> <span class="default">12:00 — 14:00</span></td>
                                        <td>Intervalo para almoço</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>14:00 — 15:30</span></td>
                                        <td><strong>Palestra 6</strong> – Os profissionais de TI (Luis Cláudio Theodoro – Algar Telecom)</td>
                                    </tr>

                                    <tr class="list-programacao">
                                        <td><span>15:30 — 16:00</span></td>
                                        <td>Coffe Break</td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>16:00 — 18:00</span></td>
                                        <td>
                                            <strong>Minicurso 2</strong> — Desenvolvimento mobile <br>
                                            <strong>Minicurso 3</strong> — Programação em Python
                                        </td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>18:00 — 20:00</span></td>
                                        <td>
                                            Apresentação de Artigos – Oral<br>
                                            <a href="#/workshop" ng-click="gotoTop()">Workshop Kids</a>
                                        </td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>20:00 — 23:00</span></td>
                                        <td>Coquetel de confraternização</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div id="menu3" class="tab-pane fade in" ng-class="{ active: isSet(3) }">
                       <div class="table-programacao">
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th width="120px">Horário</th>
                                        <th>Atividade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="list-programacao">
                                        <td><span>08:30 — 10:00</span></td>
                                        <td><strong>Palestra 7</strong> – Desenvolvimento profissional (Sérgio Ferreira - CEO WGO Telecomunicações)</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>10:00 — 10:30</span></td>
                                        <td>Coffee Break e apresentação de pôsteres</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>10:30 — 12:00</span></td>
                                        <td>Apresentação de Artigos – Oral</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td> <span class="default">12:00 — 14:00</span></td>
                                        <td>Intervalo para almoço</td>
                                    </tr>
                                     <tr class="list-programacao">
                                        <td><span>14:00 — 15:30</span></td>
                                        <td><strong>Palestra 8</strong> – Simulação numérica de escoamentos bifásicos e viscoelásticos via método SPH (Dr. Douglas Farias Cordeiro - UFG)</td>
                                    </tr>

                                    <tr class="list-programacao">
                                        <td><span>15:30 — 16:00</span></td>
                                        <td>Coffe Break</td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>16:00 — 17:30</span></td>
                                        <td>Mesa Redonda – Informação e computação na atualidade (Dr. Odemir Martinez Bruno, Dra Elyany Alvarenga, Dr. Ole Peter Smith)</td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td><span>17:30 — 18:00</span></td>
                                        <td>Premiações (Campeonato de Jogos - Maratona de Programação - Melhores Artigos) e encerramento</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>