    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">TRABALHOS</h3>
        </div>
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">SUBMISSÃO DE TRABALHOS</h3>
        </div>
        <!-- O evento -->
        <div class="col-md-6 featurette">
            
            <h2 class="featurette-heading">Regras de submissão e apresentação</h2>

            <div class="featurette-body border-right">
                <p class="lead">
                    Os autores devem considerar os comentários dos revisores ao elaborar a versão final do seu artigo, sendo essas necessárias para a aprovação final. As avaliações e comentários estão disponíveis no <a href="https://easychair.org/conferences/?conf=enacomp2015" target="_blank">EasyChair</a> e no e-mail enviado. Fique atento as recomendações abaixo:
                    <ul>
                        <li>O artigo deve seguir <strong>estritamente</strong> o <a href="http://www.enacomp.com.br/2013/template-sbc.zip" target="_blank">modelo da SBC</a>.</li>
                        <li>O artigo enviado e aceito como pôster deve ter no máximo 4 páginas.</li>
                        <li>O artigo enviado e aceito como completo deve ter no máximo 8 páginas.</li>
                        <li>O artigo enviado como completo e aceito como pôster pode continuar com o número de páginas como foi submetido, já que a avaliação dos revisores foi feita baseado neste formato, NÃO podendo ultrapassar 8 páginas.</li>
                        <li>O artigo deve ser enviado em um arquivo no formato PDF.</li>
                        <li>A publicação do artigo nos anais do XII EnAComp está condicionada a inscrição de pelo menos um dos autores no evento.</li>
                        <li>Os trabalhos devem ser reenviados pelo <a href="https://easychair.org/conferences/?conf=enacomp2015" target="_blank">EasyChair</a>.</li>
                        <li>A duração da apresentação do artigos completo deve ser de no máximo 20 minutos, sendo 10 minutos para perguntas.</li>
                        <li>A apresentação do artigo resumido será feita pela exposição de pôster no formato A0.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="col-md-6 featurette">
            <h2 class="featurette-heading">Regras dos trabalhos</h2>
            <div class="featurette-body">
                <p class="lead">Os trabalhos submetidos deverão atender todas as condições descritas a seguir para que possam ser encaminhados aos avaliadores. O não cumprimento de um ou mais dos itens abaixo invalida a submissão.
                    <ul>
                        <li>O artigo completo deverá conter no mínimo 6 (seis) e no máximo 8 (oito) páginas.</li>
                        <li>O artigo resumido (pôster) deverá conter no mínimo 2 (duas) e no máximo 4 (quatro) páginas.</li>
                        <li>O formato da submissão é o formato padrão da SBC.</li>
                        <li>O artigo deve ser enviado em um arquivo no formato PDF.</li>
                        <li>O artigo submetido não deve conter os nomes dos autores nem da instituição de origem ou qualquer outra referência no corpo do artigo que possa permitir a identificação da autoria do artigo. Os nomes dos autores e suas afiliações devem constar na versão final.</li>
                        <li>Os trabalhos devem ser enviados via software de submissão de artigos científicos.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
    <div class="container">

        <div class="col-md-12 featurette">            
            <h2 class="featurette-heading">Formato dos trabalhos</h2>
            <div class="featurette-body">
                <p class="lead">
                    Os trabalhos deverão ser encaminhados seguindo a formatação sugerida pela Sociedade Brasileira de Computação, artigos que não seguirem essa padronização não serão aceitos para avaliação.
                </p>
                <p class="lead">
                    <a href="http://www.enacomp.com.br/2013/template-sbc.zip" target="_blank">Modelo Formato SBC</a>
                </p>
            </div>
        </div>        
    </div>

    <div class="featurette-divider"></div>

    <div class="container">
        <div class="col-md-12 featurette">            
            <h2 class="featurette-heading">Áreas de interesse para submissão</h2>
            
            <div class="col-md-6">
            <div class="featurette-body border-right">
                <p class="lead">
                    <ul>
                        <li>Análise de Imagens e Vídeos</li>
                        <li>Aplicações e Sistemas Multiagentes</li>
                        <li>Aplicações em Computação Móvel</li>
                        <li>Aplicações, Tecnologias e Teorias de Banco de Dados</li>
                        <li>Arquitetura de Software</li>
                        <li>Automação</li>
                        <li>Avanço em Sistemas de Informação Baseado em Imagens e em Dados Espaciais</li>
                        <li>Bioinformática</li>
                        <li>Certificação e segurança</li>
                        <li>Criptografia</li>
                        <li>Computação Evolutiva</li>
                        <li>Computação nas Nuvens</li>
                        <li>Desenho Assistido por Computador – CAD</li>
                        <li>Engenharia de Requisitos</li>
                        <li>Engenharia de Software</li>
                        <li>Estudos de caso de prototipagem</li>
                        <li>Inteligência Artificial</li>
                        <li>Linguagem de Modelagem para sistemas embarcados</li>
                        <li>Linguagens de Programação</li>
                        <li>Mineração de Dados</li>
                        <li>Recuperação e Acesso de Informação</li>
                    </ul>
                </p>
            </div>
            </div>
            <div class="col-md-6 ">
            <div class="featurette-body">
                <p class="lead">
                    <ul>
                        <li>Rede de transdutores (sensores e atuadores)</li>
                        <li>Redes de Computadores</li>
                        <li>Redes sem fio móveis e segurança na comunicação</li>
                        <li>Resolução de Problemas de Satisfação de Restrições</li>
                        <li>Simulação Numérica</li>
                        <li>Sistemas Computacionais</li>
                        <li>Sistemas Computacionais de Apoio</li>
                        <li>Sistemas Cooperativos</li>
                        <li>Sistemas Distribuídos</li>
                        <li>Sistemas de Recomendação</li>
                        <li>Sistemas e Linguagem de Programação Orientada a Objetos</li>
                        <li>Sistemas Embarcados e&nbsp;Sistemas Operacionais Embarcados</li>
                        <li>Sistemas Operacionais</li>
                        <li>Sistemas Robóticos Inteligentes</li>
                        <li>Tecnologias Web</li>
                        <li>Trabalho colaborativo apoiado por computador</li>
                        <li>Verificação e Teste de Software</li>
                        <li>Visualização de Dados e Aplicações Multimídia</li>
                    </ul>
                </p>
            </div>
            </div>
        </div>        
    </div>

    <div class="featurette-divider"></div>

    <div class="container">
        <div class="col-md-6 featurette">            
            <h2 class="featurette-heading">Datas importantes</h2>

            <div class="featurette-body border-right">
                <p class="lead">
                   Submissão de trabalhos:<strong> de 11 de maio de 2015 à 22 de julho de 2015 </strong>( até às 23:59hrs GMT-3).
                </p>
                <p class="lead">Divulgação dos Resultados:<strong> 07 de agosto de 2015.</strong></p>
                <p class="lead">Envio da versão final: <strong>12 de agosto de 2015.</strong></p>
            </div>
        </div>

        <div class="col-md-6 featurette">
            <h2 class="featurette-heading">Informações para envio</h2>
            <div class="featurette-body">
                <p class="lead">Os trabalhos devem ser enviados via software de submissão de artigos científicos, o qual estará disponível à partir do dia 11/05/2015 através do sistema de submissões do <a href="https://easychair.org/conferences/?conf=enacomp2015" target="_blank">EasyChair</a>
                </p>
            </div>
        </div>
    </div>

    <div class="featurette-divider"></div>

    <div class="container">
        <!-- Programacao -->
        <div id="program" class="col-md-12 featurette">
            <h3 class="featurette-heading">APRESENTAÇÕES</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#menu2">Dia 2</a></li>
                <li><a data-toggle="tab" href="#menu3">Dia 3</a></li>
            </ul>

            <div class="featurette-body">
                <div class="tab-content">  
                    <div id="menu2" class="tab-pane fade in active">
                        <h3>Terça-feira - 25 de Maio</h3>
                        <p class="lead">
                            <ul class="list-programacao list-unstyled">
                                <li> <span>16:00 — 18:00</span>
                                    <ul>
                                        <li>Apresentação de Artigos – Oral</li>
                                        
                                    </ul>
                                </li>                                
                            </ul>
                        </p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>Quarta-feira - 26 de Maio</h3>
                        <p class="lead">
                            <ul class="list-programacao list-unstyled">                            
                                <li> <span>10:00 — 10:30</span> Coffee Break e apresentação de pôsteres</li>
                                <li> <span>10:30 — 12:00</span> Apresentação de Artigos – Oral</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>