    <div class="container">
        <div class="col-md-12 featurette">
            <h3 class="featurette-heading">SUBMISSÃO</h3>
        </div>
        <div class="col-md-6 featurette">
            <div class="box-text">            
                <h3 class="featurette-heading">Datas importantes</h3>

                <div class="featurette-body">
                    <p>
                       Submissão de trabalhos:<strong> 01 de dezembro de 2016 à 31 de março de 2017 ( até às 23:59hrs GMT-3).</strong>
                    </p>
                    <p>Divulgação dos Resultados:<strong> 10 de abril de 2017.</strong></p>
                    <p>Envio da versão final: <strong>17 de abril de 2017.</strong></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Informações para envio</h3>
                <div class="featurette-body">
                    <p>Os trabalhos devem ser enviados via software de submissão de artigos científicos, o qual estará disponível à partir do dia não previsto através do sistema de submissões do <a href="https://easychair.org/conferences/?conf=enacomp2015" target="_blank">EasyChair</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>
    
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 featurette box-text">            
                <h3 class="featurette-heading">Instruções</h3>

                <div class="featurette-body">
                    <p>
                        Os trabalhos submetidos deverão atender todas as condições descritas a seguir para que possam ser encaminhados aos avaliadores. O não cumprimento de um ou mais dos itens abaixo invalida a submissão.
                    </p>
                    <p>
                        Os autores devem considerar os comentários dos revisores ao elaborar a versão final do seu artigo, sendo essas necessárias para a aprovação final. As avaliações e comentários estão disponíveis no <a href="https://easychair.org/conferences/?conf=enacomp2015" target="_blank">EasyChair</a> e no e-mail enviado. Fique atento as recomendações abaixo:
                        <ul>
                            <li>O artigo deve seguir <strong>estritamente</strong> o <a href="http://www.enacomp.com.br/2013/template-sbc.zip" target="_blank">modelo da SBC</a>. Artigos que não seguirem essa padronização não serão aceitos para avaliação.
                            </li>
                            <li>O artigo deve ser enviado em um arquivo no formato PDF.
                            </li>
                            <li>O artigo deverá conter no mínimo 6 (seis) e no máximo 8 (oito) páginas.</li>
                            <li>O artigo pode ser aceitos na modalidade apresentação oral ou pôster.</li>
                            <li>A publicação do artigo nos anais do XIII EnAComp está condicionada a inscrição de pelo menos um dos autores no evento.</li>
                            <li>O artigo submetido não deve conter os nomes dos autores nem da instituição de origem ou qualquer outra referência no corpo do artigo que possa permitir a identificação da autoria do artigo. Os nomes dos autores e suas afiliações devem constar na versão final.</li>
                            <li>Os trabalhos devem ser reenviados pelo <a href="https://easychair.org/conferences/?conf=enacomp2015" target="_blank">EasyChair</a>.</li>
                        </ul>
                    </p>
                </div>
            </div>  
        </div>      
    </div>

    <div class="featurette-divider"></div>
    
    <div class="container">
        <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Apresentação Oral</h3>
                <div class="featurette-body">
                    <p>Para o trabalho oral o autor deve trazer a apresentação no formato PDF, tendo 20 minutos para apresentar o trabalho. Após a apresentação serão dedicados até 10 minutos para perguntas, em que o coordenador da seção estará controlando o tempo para que não atrapalhe as demais programações.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 featurette">
            <div class="box-text">
                <h3 class="featurette-heading">Pôster</h3>
                <div class="featurette-body">
                    <p>Para o trabalho pôster o autor deve trazer o pôster e afixar no local da apresentação. O autor deve ficar junto ao seu pôster durante toda a seção, para caso alguém queria entender sobre a pesquisa. Após a finalização da seção, o pôster pode ser retirado.
                    </p>
                    <p>Tamanho do pôster: A0.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="featurette-divider"></div>

    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 featurette box-text">            
                <h3 class="featurette-heading">Áreas de interesse para submissão</h3>
                
                <div class="col-md-6">
                    <div class="box-text">
                        <div class="featurette-body union-bottom">
                            
                                <ul class="list-areas">
                                    <li>Análise de Imagens e Vídeos</li>
                                    <li>Aplicações e Sistemas Multiagentes</li>
                                    <li>Aplicações em Computação Móvel</li>
                                    <li>Aplicações, Tecnologias e Teorias de Banco de Dados</li>
                                    <li>Arquitetura de Software</li>
                                    <li>Automação</li>
                                    <li>Avanço em Sistemas de Informação Baseado em Imagens e em Dados Espaciais</li>
                                    <li>Bioinformática</li>
                                    <li>Certificação e segurança</li>
                                    <li>Criptografia</li>
                                    <li>Computação Evolutiva</li>
                                    <li>Computação nas Nuvens</li>
                                    <li>Desenho Assistido por Computador – CAD</li>
                                    <li>Engenharia de Requisitos</li>
                                    <li>Engenharia de Software</li>
                                    <li>Estudos de caso de prototipagem</li>
                                    <li>Inteligência Artificial</li>
                                    <li>Linguagem de Modelagem para sistemas embarcados</li>
                                    <li>Linguagens de Programação</li>
                                    <li>Mineração de Dados</li>
                                    <li>Reconhecimento de padrões</li>
                                </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="box-text">
                        <div class="featurette-body union-top">
                            
                                <ul class="list-areas">                                    
                                    <li>Recuperação e Acesso de Informação</li>
                                    <li>Redes complexas</li>
                                    <li>Redes de Computadores</li>
                                    <li>Redes de transdutores (sensores e atuadores)</li>

                                    <li>Redes sem fio móveis e segurança na comunicação</li>
                                    <li>Resolução de Problemas de Satisfação de Restrições</li>
                                    <li>Simulação Numérica</li>
                                    <li>Sistemas Computacionais</li>
                                    <li>Sistemas Computacionais de Apoio</li>
                                    <li>Sistemas Cooperativos</li>
                                    <li>Sistemas Distribuídos</li>
                                    <li>Sistemas de Recomendação</li>
                                    <li>Sistemas e Linguagem de Programação Orientada a Objetos</li>
                                    <li>Sistemas Embarcados e&nbsp;Sistemas Operacionais Embarcados</li>
                                    <li>Sistemas Operacionais</li>
                                    <li>Sistemas Robóticos Inteligentes</li>
                                    <li>Tecnologias Web</li>
                                    <li>Trabalho colaborativo apoiado por computador</li>
                                    <li>Verificação e Teste de Software</li>
                                    <li>Visão computacional</li>
                                    <li>Visualização de Dados e Aplicações Multimídia</li>
                                </ul>
                            
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="featurette-divider"></div>

    <div class="container">
        <!-- Programacao -->
        <div id="program" class="col-md-12 featurette" ng-controller="tabsCtrl">
            <h3 class="featurette-heading">APRESENTAÇÕES</h3>
            <ul class="nav nav-tabs">
                <li ng-class="{ active: isSet(1) }"><a data-toggle="tab" ng-click="setTab(1)">Dia 2 <span>(Terça-feira - 25 de Maio)</span></a></li>
                <li ng-class="{ active: isSet(2) }"><a data-toggle="tab" ng-click="setTab(2)">Dia 3 <span>(Quarta-feira - 26 de Maio)</span></a></li>
            </ul>

            <div class="featurette-body">
                <div class="tab-content">  
                    <div id="menu2" class="tab-pane fade in" ng-class="{ active: isSet(1) }">                        
                        <div class="table-programacao">
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th width="120px">Horário</th>
                                        <th>Atividade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="list-programacao">
                                        <td><span>16:00 — 18:00</span></td>
                                        <td>Apresentação de Artigos – Oral</td>
                                    </tr>                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade in" ng-class="{ active: isSet(2) }">                     
                        <div class="table-programacao">
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th width="120px">Horário</th>
                                        <th>Atividade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="list-programacao">
                                        <td><span>10:00 — 10:30</span></td>
                                        <td>Coffee Break e apresentação de pôsteres</td>
                                    </tr>
                                    <tr class="list-programacao">
                                        <td> <span>10:30 — 12:00</span></td>
                                        <td>Apresentação de Artigos – Oral</td>
                                    </tr>                                      
                                </tbody>
                            </table>
                        </div>                           
                    </div>
                </div>
            </div>
        </div>
    </div>