<div class="container">
    <div class="col-md-12 featurette">
        <h3 class="featurette-heading">WORKSHOP KIDS</h3>

        <div class="featurette-body">
            <p>
                O XIII EnAComp apresenta pela primeira vez um workshop de Ciências da Computação para crianças, cujo propósito é disseminar esta área do conhecimento entre as crianças, como forma de incentivá-las ao estudo da área.
                Buscando ensinar programação para as novas gerações de uma maneira mais descontraída, com bastante diversão e atividades. Será utilizada a programação com Scratch, onde crianças a partir de 7 anos podem programar histórias próprias e interativas, jogos e animações de forma simples e compartilhar online.
            </p>

        </div>
    </div> 
</div>      
